@font-face {
    font-family: "Good Vibes";
    src: url(/Sourse/Fonts/GoodVibes/GoodVibesCyr.ttf);
}

@font-face {
    font-family: "Share Tech Cyr";
    src: url(/Sourse/Fonts/ShareTechCyr/Share-Tech-CYR.otf);
}

@font-face {
    font-family: "Widock";
    src: url(/Sourse/Fonts/WidockTrial/Widock\ TRIAL\ Bold.otf);
}

.main {
    position: relative; /* Контейнер для позиционирования */
    width: 85vw;
    height: auto;
    max-width: 1900px; /* Ограничиваем максимальную ширину */
    margin: 0 auto;
    top: -60px;
}

.mainBg {
    width: 100%;
    height: auto; 
    display: block; 
}
.mainPageHeader {
    font-family: "Good Vibes";
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(24px, 5vw, 64px); /* Адаптивный размер текста */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    width: 90%; /* Чтобы текст не прилипал к краям */
}