@font-face {
    font-family: "Good Vibes";
    src: url(/Tomsk4everyone/Sourse/Fonts/GoodVibes/GoodVibesCyr.ttf);
}

@font-face {
    font-family: "Share Tech Cyr";
    src: url(/Tomsk4everyone/Sourse/Fonts/ShareTechCyr/Share-Tech-CYR.otf);
}

@font-face {
    font-family: "Widock";
    src: url(/Sourse/Fonts/WidockTrial/Widock\ TRIAL\ Bold.otf);
}

.hero-banner {
  position: relative; /* Обязательно для абсолютного позиционирования nav */
  display: grid;
  width: 85vw;
  margin: 0 auto;
}

.hero-banner img {
  grid-area: 1/1;
  width: 100%;
  height: auto;
  border-radius: 40px;
}


.hero-banner {
  position: relative;
  display: grid;
  width: 85vw;
  margin: 0 auto;
}

.hero-banner img {
  grid-area: 1/1;
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.navBar {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0.8rem 2rem;
  width: 90%;
  height: 84px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  z-index: 10;
  border: 2px solid #ffffff;
  border-radius: 53px;
  max-width: 90%;
}

.navBar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
    
}

.navBar li a {
  text-decoration: none;
  font-family: 'Widock';
  font-size: 41.29px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding: 20px;
  text-align: left;
}

.userIco {
    width: 84px;
    height: 84px;
}

.button-read-articles {
  font-family: "Widock";
  width: 588px;
  height: 107px;
  border-radius: 53px;
  border: 8px solid #019934;
  background-color: transparent;
  color: #019934;
  font-size: 30.27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}
