:root {
  --red:   #E32636;
  --green: #019934;
  --black: #000;
  --white: #fff;
}
@font-face {
    font-family: "Good Vibes";
    src: url(/Tomsk4everyone/Sourse/Fonts/GoodVibes/GoodVibesCyr.ttf);
}

@font-face {
    font-family: "Share Tech Cyr";
    src: url(/Tomsk4everyone/Sourse/Fonts/ShareTechCyr/Share-Tech-CYR.otf);
}

@font-face {
    font-family: "Widock";
    src: url(/Tomsk4everyone/Sourse/Fonts/WidockTrial/Widock\ TRIAL\ Bold.otf);
}


.hero-banner {
  position: relative;
  width: 85vw;
  max-width: 1800px;
  margin: 20px auto 0;
}

.hero-banner img {
  width: 100%;
  height: auto;
  display: block;
}

.navBar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1800px;
  max-height: 84px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 53px;
  z-index: 10;
  transition: min-height 0.3s ease;
}

.logo {
  position: relative;
  right: 2rem;
  height: 83px;
  width: auto;
  transition: height 0.3s ease;
}

.logo:hover {
    border: 10px solid #019934;
  border-radius: 50px;
}

.userIco {
  position: relative;
  left: 2rem;
  height: 83px;
  width: auto;
}

.userIco:hover {
  border: 10px solid #019934;
  border-radius: 50px;
}

.navLinks {
  position: static; /* Отменяем fixed позиционирование */
  display: flex;
  justify-content: center; /* Центрируем ссылки по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  width: auto;
  margin: 0 auto; /* Автоматические отступы по бокам */
  background: transparent; /* Убираем зеленый фон */
  transform: none;
  opacity: 1 ;
  pointer-events: auto;
  gap: 2rem; /* Расстояние между ссылками */
}


.navLinks.active {
  
  display: flex; 
  flex-direction: column;
  align-items:center;
  justify-content: center;
  opacity: 1; 
  background: rgba(196, 255, 196, 0.95);
  opacity: 1%;
  pointer-events: auto; 
}


.navLinks li a {
  font-family: 'Widock', sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.navLinks li a:hover {
  color: #019934;
}

/* Бургер-меню */
.burger {
  display: none;
  position: relative;
  z-index: 1000;
}

.burger-line {
  display: block;
  width: 30px;
  height: 3px;
  margin: 2px 0;
  transition: all 0.3s ease;
    background: transparent !important;
}

.mainBtn {
  position: absolute;
  width: 420px;
  height: 70px;
  right: 0px;
  bottom: 0px;
  z-index: 20; /* Чтобы кнопка была поверх изображения */
  background-color: transparent;
  color: green;
  border: 3px solid green;
  border-radius: 30px;
  font-family: 'Widock', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.mainBtn:hover {
  background-color: #019934;
  color: white;
}

.mainArticle {
  position: relative;
  width: 85vw;
  max-width: 1800px;
  margin: 70px auto 0;
}

.articles-header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.articles-header h1 {
  font-family: 'Widock';
  font-size: clamp(10rem, 8vw, 5rem);
  margin: 0;
}
.btn-all {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  font-family: 'Widock';
  color: var(--green);
  border: 3px solid var(--green);
  border-radius: 30px;
  background: transparent;
  cursor: pointer;
  transition: .2s;
}
.articles-header .btn-all:hover {
  background: var(--green);
  color: var(--white);
}
.tagline {
  font-family: 'Good Vibes', cursive;
  font-size: clamp(5rem, 5vw, 3rem);
  margin: -2.5rem 0 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.card {
  position: relative;
  height: 350px;
  border-radius: 30px;
  overflow: hidden;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.3));
}

.card-content {
  position: relative;
  padding: 1.5rem;
  z-index: 1;
}

.card-content h3 {
  font-family: 'Widock';
  margin: 0 0 .5rem;
  font-size: 3rem;
}

.card-content p {
  font-family: 'Share Tech Cyr';
  font-size: .9rem;
  line-height: 1.3;
  margin: 0 0 1rem;
}

.card-footer {
  position: relative;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1;
}

.articleLink {
  text-decoration: none;
}

.label {
  font-family: 'Widock';
  padding: .3rem .8rem;
  border: 4px solid rgb(0, 209, 0);
  border-radius: 20px;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: transparent;
  transition: .2s;
}

.label.popular { border-color: rgb(0, 209, 0); color: rgb(0, 209, 0); }
.label.new     { border-color: var(--red);   color: var(--red);   }

.published {
  font-family:  'Share tech cyr';
  font-size: 1.4rem;
  color: white;
  padding-left: 10px;
}

/* Стрелка на первой карточке */
.card.new .arrow {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.card.new .arrow::before {
  content: "➔";
  font-size: 1rem;
  color: var(--green);
}

.arrow:hover {
  color: white;
  background-color: #019934;
}

/* Для маленьких экранов */
@media (max-width: 768px) {
  .mainArticle {
    padding: 1rem;
  }
  
  .mainArticle h1 {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1340px) {
  .navLinks li a {
    padding: 0;
  }

  .navLinks {
    z-index: 1;
  }

  .logo {
    z-index: 2;
  }

  .userIco {
    z-index: 3;
  }
}



@media (max-width: 768px) {

  .mainBtn {
    position: absolute;
    width: 108px;
    height: 17px;
    right: 0px;
    bottom: 0px;
    z-index: 20; /* Чтобы кнопка была поверх изображения */
    background-color: transparent;
    color: green;
    border: 3px solid green;
    border-radius: 50px;
    font-family: 'Widock', sans-serif;
    font-size: 0.3rem;
    cursor: pointer;
  }

  .navBar {
    height: 20px;
  }

  .logo img {
    height: 20px
  }

  .logo {
    height: 21px;
  }

  .burger-line {
    width: 10px;
    height: 1px;
  }

  .burger.active .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }
  
  .burger.active .burger-line:nth-child(2) {
    opacity: 0;
  }
  
  .burger.active .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  .navLinks li:last-child {
    margin-top: auto;
    padding: 20px 0;
  }

   .burger {
    display: block;
  }
  
  .userIco {
    display: none;
  }

  .navLinks {
    position: absolute;
    top: 100%; /* Позиционируем под навбаром */
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.95);
    border-radius: 0 0 53px 53px;
    flex-direction: column;
    padding: 1rem 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    max-height: 0;
    overflow: hidden;
  }

  .navLinks.active {
    opacity: 1;
    visibility: visible;
    max-height: 500px; /* Максимальная высота меню */
  }

  .navLinks li a {
    padding-left: 15px;
    font-size: 14px;
  }
}
